/* Estilos para a página */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o formulário */
.service-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px; /* Espaço adicional na parte inferior */
}

/* Estilos para o cabeçalho */
.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Estilos para os botões */
.back-button {
    width: 50px;
    height: 50px;
    background-color: #ccc; /* Cor cinza */
    color: #000; /* Texto preto */
    border: none;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

.add-service-button {
    flex-grow: 1;
    height: 50px;
    background-color: #ccc; /* Cor cinza */
    color: #000; /* Texto preto */
    font-weight: bold; /* Texto em negrito */
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* Estilos para os campos de entrada */
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px; /* Aumenta a distância entre as questões */
}

/* Estilos para as etiquetas */
label {
    display: block;
    margin-bottom: 5px;
}

/* Estilos para o campo de entrada de texto */
textarea {
    resize: vertical;
}

/* Estilos responsivos */
@media (min-width: 768px) {
    .service-form {
        max-width: 600px;
    }
}

@media (max-width: 767px) {
    .service-form {
        margin: 10px;
        padding: 15px;
    }

    .back-button,
    .add-service-button {
        padding: 8px;
    }

    input[type="text"],
    textarea {
        padding: 8px;
    }
}
